.wrap__card {
  margin: 0 -12px;
  flex-wrap: wrap;
  & ~ .breadcrumb {
    margin-bottom: 24px;
  }
  @media (max-width: 1601px) {
    margin-top: -12px;
    margin-bottom: -12px;
  }
  .card {
    width: calc((100% - 96px) / 4);
    margin: 0 12px;
    @media (max-width: 1601px) {
      width: calc((100% - 48px) / 2);
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .card__left {
      h4 {
        color: #1d212f;
        margin-bottom: 8px;
      }
      h3 {
        font-size: 21px;
        color: #1d212f;
        margin-bottom: 8px;
        font-weight: 500;
        span {
          color: #8f8fb1;
          font-size: 13px;
          margin-left: 10px;
        }
      }
      p {
        color: #8f8fb1;
        font-size: 13px;
        span {
          color: #19b159;
          font-weight: 700;
          margin-right: 10px;
          &.red {
            color: #f16d75;
          }
        }
      }
    }
  }
}