.card__title {
  .dashboard__box-title {
    color: #1c273c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    padding-top: 4px;
    margin-bottom: 8px;
  }
  .dashboard__box-text {
    font-size: 12px;
    color: #8f8fb1;
    margin-bottom: 16px;
  }
}